<div class="row">
  <ul class="list-group">
    <li class="list-group-item">@<%= current_user.user_name %></li>
    <li class="list-group-item">
      <span class="badge"><%= current_user.posts.count %></span>
      Posts
    </li>
  </ul>
</div>